.challenge-card-layout {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    height: inherit;
    padding: 3rem;
    border-bottom: 0.1rem solid gray;
    span {
        text-align: end;
    }
    app-challenge-description {
        padding-top: 1rem;
    }
}
